.App {
  background-color: black;
  overflow: hidden;
  color: white;
}

Link {
  text-decoration: none;
}

Link:hover {
  text-decoration: none;
}

.user-login {
  padding: 20px;
  padding-bottom: 5px;
  display: flex;
  justify-content: flex-end;
}

.breadcrumbs {
  display: flex;
  justify-content: space-between;
}

.signing-up {
  padding: 0 45px;
  height: 25%;
  background-color: tomato;
  color: white;
}

.btn.sharp {
  border-radius: 0;
  text-transform: none;
  color: white;
}

.btn.sharp:focus {
  outline: none;
}

.btn.sharp:hover {
  color: tomato;
  background-color: white !important;
}

.search {
  border: none;
}

/* .cucmauxanh {
  height: 9%;
  background-color: teal;
} */

.lastpage {
  height: 90vh;
}
.footer {
  display: flex;
  align-items: flex-end;
  padding: 45px;
  height: 75%;
  background-color: darkgray;

  color: white;
}
.blank {
  height: 60vh;
}

.btn {
  background-color: transparent !important;
  border: 2px solid white !important;
  font-size: 20px !important;
  color: white;
  padding: 10px 10px !important;
}

.shopnow {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-image: url('/Comp1.gif') !important;
  background-size: 100vw !important;
  background-blend-mode: difference;
}

.aothun {
  max-width: 90vw;
  max-height: 90vh;
  width: auto;
  height: auto;
}

.poster{
  padding:45px;
  max-width: 95vw;
  max-height: 95vh;
  width: auto;
  height: auto;
}


.text-field {
  color: white;
}

.ivy {
  padding-top: 200px;
  background-image: url(https://freight.cargo.site/t/original/i/2e3ac4513c1dbf52495bfe2652850c60062a9df57792fe0fa1312ff9a9219bce/VOQUOXY_0009_Layer-4.jpg);
  background-size: 110vw;
  height: 100vh;
}

.TextField {
  color: white;
}

.loginpage {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 45px;
  flex-wrap: wrap;
}

.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  border-bottom: none !important;
}

.MuiInputBase-input {
  color: white !important;
}

input {
  color: white;
}
textarea {
  color: white;
}
a .nav-item .nav-link {
  color: white;
}

.tinytext {
  font-family: "Favorit";
  font-size: 12px;
  color: white;
}

/* NAV BAR */

.fixed-top {
  mix-blend-mode: difference;
  font-family: "Favorit";
  font-weight: bolder;
}

.searchbar {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white !important;
  min-width: 50vw;
}

.searchbar:focus {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid teal !important;
  min-width: 50vw;
  outline: none;
}

.emailbar {
  padding: -10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
}
.emailbar:focus {
  padding: -10px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
}
.email {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.emailtext {
  font-size: 60px;
  font-weight: bolder;
}

@media only screen and (max-width: 600px) {
  .emailtext {
    font-size: 20px;
  }
}

.search-icon {
  position: absolute;
  right: 40px;
}
@media only screen and (max-width: 600px) {
  .navlink {
    font-size: 20px;
    font-weight: bolder;
  }
}

/* 
ARTISTS PAGE */
.artist-title-list:hover {
  background-color: teal;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .artist-title-list {
    font-size: 15px;
  }
}

.alphabet {
  color: darkgray;
  font-size: 100px;
}

@media only screen and (max-width: 600px) {
  .alphabet {
    font-size: 75px;
  }
}
@media only screen and (max-width: 600px) {
  .footertext {
    font-size: 20px;
  }
}

.artistpage {
  background-color: black;
  min-height: 100vh;
  padding-top: 200px;
  padding-bottom: 50px;
  margin: 0 45px;
}

.eventpage {
  background-color: black;
  min-height: 100vh;
  padding-bottom: 100px;
  padding-top: 200px;
  margin: 0 45px;
}

.artist-detail {
  margin-top: 5px;
  background-color: black;
  padding: 35px;
  color: white;
  font-family: "Times Now";
  font-size: 35px;
}

@media only screen and (max-width: 600px) {
  .artist-detail {
    font-size: 25px;
  }
}

.artist-title {
  color: white;
  position: absolute;
  bottom: 250px;
  left: 45px;
  font-family: "Favorit";
}
a {
  color: white !important;
}
a:hover {
  color: white;
}
.fill {
  object-fit: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: 80vh;
  width: 100vw;
}

.fill img {
  flex-shrink: 0;
}

/* ICON */

.fal {
  color: white;
  margin-right: 5px;
}

.fal:focus {
  outline: none;
}

.body {
  font-family: "Favorit";
}
/*GENRE*/

.times {
  font-family: "Times Now";
}

/*EVENT-PAGE*/
.filtered-city {
  color: white;
  height: 50px;
  width: 100%;
  margin-bottom: 50px;
  padding-left: 15px;
}

.city {
  padding: 10px;
}
.city:hover {
  background-color: teal;
}

.poster-img {
  display: flex;
  justify-content: center;
}

.lineup {
  display: column;
  text-transform: capitalize;
}

/*loading*/
.loading {
  height: 100vh;
  display: flex;
  justify-content: center;
}

.big {
  font-size: 120px;
}

.tab:focus {
  background: none;
}

.nav-link {
  border: none;
}

.nav-link.active {
  border: none;
  background-color: none;
  border-bottom: 1px solid white;
}

.radiocard {
  background-color: white;
  width: 25em;
  height: 30px;
  padding: 0 10px;
}
.radioinfo {
  padding-top: 10px;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.loginbar:focus {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid teal !important;
  max-width: 30vw;
  outline: none;
}

.loginbar {
  padding: 12px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  border-bottom: 1px solid white !important;
  max-width: 30vw;
  outline: none;
}

.nav-tabs .nav-link.active {
  background-color: rgba(0, 0, 0, 0) !important;
  border-color: none !important;
  border: 0px solid;
}

.fuck {
  max-height: 500px !important;
  max-width: 300px !important;
  object-fit: contain;
  overflow: hidden;
}

.lastpage {
  height: 90vh;
}

.progessbar {
  border-radius: 20px;
}

.background {
  color: teal;

  align-items: center;
  display: flex;
  justify-content: centers;
}

.radioname {
  z-index: 2;
}


.picks{
  background-image: url(https://i.ibb.co/Y2gjcPf/Untitled-1-01.jpg);
  background-size: 100vw;
  max-height: 100vh !important;
  padding-top: 160px;
}


.artistinfo{
  margin-top: -80px!important;
}

.player:focus{
  outline: none
}

